/* body{
  background-image: url('../../assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 91.5vh;
}
.landingGreeting{
  text-transform: uppercase;
  color: #00533B;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 44px;
}
.appGoal{
  margin-bottom: 64px;
}

.buttonDemo{
  border-radius: 8px;
  background-color: #00533B;
  color: white;
  width: 300px;
  height: 56px;
  padding: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 700;
}
.buttonDemo:hover{
  cursor: pointer;
  background-color: #A1C181;
  border: none;
}
.buttonDemo:active{
  box-shadow:none;
}
