.symptomInput{
  border-radius: 8px;
  padding: 24px 16px;
  border: 1px solid #CAC5CD;
  margin: 8px 0;
  width: 100%;
  margin-left: 0;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0px 0px 1px 0px rgba(33, 37, 41, 0.08), 0px 2px 2px 0px rgba(33, 37, 41, 0.06);
}
.symptomList{
  /* background-color: paleturquoise; */
  text-align: left;
  margin: 0 auto;
  padding: 0;
  color: #00533B;
  font-size: 16px;
  font-weight: 400;
  /* width: 925px; */
}
.symptomOptions{
  padding: 16px 16px 16px 44px !important;
  list-style-type: none;
  border-bottom: 1px solid #DEE2E6;
  padding: 12px;
}
.symptomOptions:hover{
  background-color: #F5F5F5;
  cursor: pointer;
  border-radius: 8px;
}
