.visitOptions{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visitOptions > h1{
  margin-bottom: 42px;
}

.visitOptions > a {
  width: 100%;
  text-decoration: none;
}
.visitButton{
  width: 925px;
  padding: 64px;
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.visitButton:hover{
  cursor: pointer;
  background-color: grey;
  transition: .2s;
}

.p{
  color: #1D1B20;
  font-size: 18px;
  margin: 0 0 4px 0 !important;
  text-align: left;
}
