.visitOptions{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.visitButton{
  width: 925px;
  padding: 64px;
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.visitButton:hover{
  cursor: pointer;
  background-color: grey;
  transition: .2s;
}
