.hpiContainer{
  border-top: 4px solid white;
  padding: 32px 16px;
  margin: 8px auto;
  border-top: 2px solid #00533B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.hpiContainer> p{
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  margin: 8px 0;
}
.symptom{
  text-align: left;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 3px solid grey;
}
.input{
  width: 100%;
  border: 1px solid #CAC5CD;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 1px 0px rgba(33, 37, 41, 0.08), 0px 2px 2px 0px rgba(33, 37, 41, 0.06);
}
.label{
  text-align: left;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}
.hpiBlock{
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.lengthAnswers{
  display: flex;
}
.lengthInput{
  width: 25%;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #CAC5CD;
  margin-left: 0;
  margin-right: 10px;
  box-shadow: 0px 0px 1px 0px rgba(33, 37, 41, 0.08), 0px 2px 2px 0px rgba(33, 37, 41, 0.06);
}
.lengthSelect{
  width: 30%;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #CAC5CD;
  margin-left: 0;
  box-shadow: 0px 0px 1px 0px rgba(33, 37, 41, 0.08), 0px 2px 2px 0px rgba(33, 37, 41, 0.06);
  font-size: 16px;
}
.severitySelect{
  width: 60%;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #CAC5CD;
  margin-left: 0;
  box-shadow: 0px 0px 1px 0px rgba(33, 37, 41, 0.08), 0px 2px 2px 0px rgba(33, 37, 41, 0.06);
  font-size: 16px;
}
.submit{
  margin: 16px 0; 
  background-color: #00533B;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}
.submit:hover{
  background-color: #A1C181;
  border: none;
  cursor: pointer;
}
.submit:active{
  box-shadow: none;
}
hr{
  margin: 16px 0;
}
.asterisk{
  color: #79767D;
  font-weight: normal;
}
