*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* text-align: center;  */
}
main{
  margin: 0 26%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
a,
a:visited {
  color: #00533B;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.landing-background{
  background-image: url('/src/assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav > .navLinks {
  background-color: white;
  padding: 16px 0;
  color: #00533B;
  border-bottom: 1px solid #E8E9EB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navLinks > li {
  margin-right: 12px;
}
h1{
  font-size: 60px;
  margin: 0;
  color: #00533B;
  font-weight: 700;
}
h2{
  font-size: 48px;
  margin: 0;
}
h3{
  font-size: 40px;
  color: #1D1B20;
  font-weight: 400;
  margin:0;
}

.note{
  background-color: #DEE2E6;
  border-radius: 16px;
  padding:32px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 8px;
}
.chatContainer{
  /* background-color: purple; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.chatBubble{
  background-color: #B0CDC5;
  color:black;
  padding: 32px;
  border-radius: 0px 16px 16px 16px;
  margin: 8px 0;
  font-size: 18px;
  font-weight: 400;
  width: 75%;
  text-align: left;
}
.userContainer{
  /* background-color: purple; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.user{
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.userBubble{
  background-color: #00533B;
  color:white;
  padding: 32px;
  border-radius: 16px 16px 0px 16px;
  margin: 8px 0;
  font-size: 18px;
  font-weight: 400;
  width: 75%;
  text-align: left;
}
.hpiBubble{
  border: 1px solid #A1C181;
  background-color: white;
  border-radius: 16px;
  padding: 32px;
  color: black;
  width: 50%;
  text-align: left;
  margin: 8px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.greeting{
  text-transform: uppercase;
  color: #48464C;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 32px;
}
.containerButtons{
  width: 100%;
  padding: 64px;
  border: 1px solid #A1C181;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.containerButtons:hover{
  cursor: pointer;
  background-color: #F5F5F5;
}
.containerButtons:active{
  box-shadow: none;
}
.hpiSymptom{
  color:#00533B;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}
.hpi{
  margin: 16px 0;
}
.hpi .category{
  color: #938F96;
}
.hpi> p{
  margin: 2px;
}
.resultsBubble{
  color:black;
  padding: 64px;
  border-radius: 0px 16px 16px 16px;
  margin: 8px 0;
  font-size: 18px;
  font-weight: 400;
  width: 75%;
  text-align: left;
}
.subtitle{
  font-size: 28px;
  color: #1D1B20;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: 0px;
}
.feedback{
  /* background-color: red; */
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.feedback p{
  margin-right: 16px;
}
.feedback button{
  padding: 12px;
  border-radius: 32px;
  margin-right: 16px;
  border: none;
  background-color: #DEE2E6;
 
}
.feedback button:hover{
  cursor: pointer;
  background-color: #CAC5CD;
}
.selected{
  background-color: #A1C181 !important;
  border: 2px solid #00533B !important;
}
.exit{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.exit button{
  padding: 16px; 
  border-radius: 8px; 
  font-size: 18px;
  font-weight: 700;
}
/* .finishButton .saveButton{
  background-color: red;
} */
.finishButton{
  background-color: #00533B;
  color: white;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
  width: 55%;
}
.finishButton:hover{
  background-color: #A1C181;
  cursor: pointer;
}

.exit button:active{
  box-shadow: none;
}
.saveButton{
  border: none;
  color: white;
  background-color: #B0CDC5;
  margin-bottom: 14px;
  width: 55%;
}
.exit p{
  margin-bottom: 32px;
}
.startOverButton{
  background-color: white;
  color: #00533B;
  border: 1px solid #00533B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 40%;
}
.startOverButton:hover{
  background-color: #F5F5F5;
  cursor: pointer;
}
